<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <div th:replace="~{commons :: head}"></div>
    <title>Заказы</title>
</head>
<body>
    <div th:replace="~{commons :: nav}"></div>
    
   
<section class="category-list"> 
    <h2 th:if="${myArhive}" class="text-center">Архив заявок</h2>
    <h2 th:if="${myOrder}" class="text-center">Мои заявки</h2>
    
    <div class="container my-2 " th:each="entity : ${list}">
        <div class="card">
            <div class="row">
                <div class="card-body">
                    <div class="container">                        
	                     <div class="item">
	                         <div class="item-title" th:text="'Номер заказа: '+${entity.id}">number order</div>
	                         <div class="item-whoAndWhen">
	                             <div class="item-" th:text="${entity.service.name}">Title</div>
	                             <div class="item-" th:text="'Создано: '+${entity.dateCreated}">date created</div>
	                             <div class="item-" th:text="'Выолнить: '+${entity.dateEnded}">dateEnded</div>
	                         </div>
	                         <div class="item-status" th:text="'Статус: '+${entity.status}">status</div>
	                         <div class="item-butons" th:if="${myOrder}">
								<a th:if="${entity.status.id<4}" class="btn btn-primary" th:href="'/users/createOrder/'+${entity.id}" >Изменить</a>
								<a th:if="${entity.status.id<4}" class="btn btn-primary" th:href="'/users/orderDelete/'+${entity.id}">Удалить</a> 
	                         </div>
	                     </div>                               
	                 </div>
                </div>
            </div>
        </div>
    </div>
</section>

   
   
</body>
 
</html>